<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>By {{ post.author.username }}</p>
    {% if current_user == post.author or current_user.is_admin %}
    <a href="{{ url_for('edit', id=post.id) }}">Edit</a>
    <form action="{{ url_for('delete', id=post.id) }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
    </form>
    {% endif %}
</body>
</html>